.camera-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 20px;
    margin : 100px;
}


.camera {
    /* margin-top: 150px; */
    box-sizing: border-box;
    transform: scale(0.99);
    width: max-content;
    height: max-content;
}  

.floatingActionButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: orangered;
    color: white;
    z-index: 2;
}