.dialog-title {
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bold;
}

.dialog-title .icon {
    font-size: 30px;
    align-self: start;
    color: red;
}

.dialog-content {
    font-size: 20px;
}

.dialog-header {
    display: flex; 
    justify-content: space-between;
}

.close-button {
    margin-right: -10px;
    margin-top: -10px;
}