<div class="view">
    <div class="cam-details">
        <p>{{time}}</p>
        <p>{{zone}}</p>
        <p>{{count}}</p>
    </div>
    <webcam #webcam *ngIf="deviceId!=='none' else camNotFound" [height]="640" [width]="640" [videoOptions]="{deviceId:deviceId}" [allowCameraSwitch]="false" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>

    <button mat-icon-button class="floatingActionButton green" (click)="sendWsHighMessage()"><mat-icon>traffic</mat-icon></button>
    <button mat-icon-button class="floatingActionButton red" (click)="sendWsMessage()"><mat-icon>traffic</mat-icon></button>
</div>

<ng-template #camNotFound>
    <div class="camera-not-found">
        <h1>Camera not found</h1>
        <p>Make sure you have a camera connected and try again.</p>
    </div> 
</ng-template>

